main{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background-image:url(../img/deku-wallpaper.png);
    background-position: center;
    background-size: cover;
    align-items: center;
    justify-content: center;
    padding: 20px 20px 50px;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
    padding: 30px;
    margin: 0 0 30px;
    border-radius: 5px;
    background-color: rgba(4, 143, 161, 0.973);
    font-size: 1.7rem;
    color: white;
}

.grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    max-width: 800px;
    gap: 15px;
    margin: 0 auto;
}

.card{
    aspect-ratio: 3/4;
    width: 100%;
    border-radius: 5px;
    position: relative;
    transition: all 800ms ease;
    transform-style: preserve-3d;
}

.face{
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    border: 4px outset rgb(4, 143, 161);
    border-radius: 5px;
    transition: all 600ms ease;
}

.front{
    transform: rotateY(180deg);
}

.back{
    background-image: url(../img/deku-wallpaper.png);
    backface-visibility: hidden;
}


.reveal-card{
    transform: rotateY(180deg);
}

.disabled-card{
    filter: saturate(0);
    opacity: 0.8;
}

footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 10px;
    max-width: 800px;
    background-color: rgb(0, 86, 97);
    color: rgb(255, 255, 255);
    margin-top: 1%;
}

.img-icones{
    margin-right: 10px;
    margin-left: 10px;
    width: 25px;
    height: 25px;
}

#recarregar{
    padding: 5px;
    margin: 1%;
    background-color: rgb(46, 167, 62);
    color: white;
    width: 100px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid white;
}

#recarregar:hover{
    background-color: rgb(2, 179, 26);
    box-shadow: 8px 4px 10px rgb(0, 0, 0);
}

/* media queries*/

@media (max-width: 650px){
    header{
        position: relative;
        top: -0.5rem;
        max-height: 2rem;
        font-size: 0.9rem;
        justify-content: space-between;
    }

    footer{
        display: none;
    }

    .grid{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        width: 100%;
        max-width: 800px;
        gap: 15px;
        margin: 0 auto;
    }
   
}
